body{
    font-family: "Arial", Serif;
    background-color: #f4f4f4;
}

.navbar{
    background-color:#3b5998;
    overflow:hidden;
    height: 63px
}

.navbar a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px
}

.navbar ul{
    padding: 8px 0 0 0;
    list-style: none;
}

.navbar a:hover{
    background-color: #ddd;
    color: #000;
}